<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  <body>
    <%- include("../partials/header.ejs") %>

    <h1>Edit a todo</h1>
    <form action="/edit/<%= id %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= title %> " />
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" cols="30" rows="10">
<%= description %></textarea
        >
      </div>

      <div class="form-control completed">
        <label for="completed">Completed</label>
        <input type="checkbox" name="completed" <%= completed ? "checked" : ""
        %>/>
      </div>

      <button type="submit">Update</button>
    </form>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
